<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>About Us</h1>
      <p>We specialize in HealthCare...</p>
      <blockquote>Your diet reflects your health.</blockquote>
    </header>
    <footer>
      <p>Return <a href="/">Home</a></p>
    </footer>
  </body>
</html>
