<form action="/process" method="POST">
  <input type="text" name="firstName" placeholder="First Name" />
  <input type="text" name="firstName" placeholder="Last Name" />
  <input
    type="hidden"
    name="password"
    value="hidden, but no secret"
    placeholder="Password"
  />
  <div>
    <label for="fieldColor">Your favorite color:</label>
    <input type="text" id="fieldColor" name="color" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
